header {
  border-bottom: 1px solid $azure-blue;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;

    a {
      img {
        height: 48px;
      }
    }

    .ctas {
      display: flex;
      align-items: center;
    }

    .ctaContainer {
      display: flex;
      column-gap: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .container {
      justify-content: center;
      padding-top: 32px;
      column-gap: 40px;
    }
  }

}