header {
  border-bottom: 1px solid $azure-blue;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    a {
      img {
        height: 48px;
      }
    }

    .ctas {
      display: flex;
      align-items: center;
    }
  }
}