html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  @media screen {
    background-color: $cloud-grey;
  }
}

main {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}
