body {
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

@media screen and (max-width: 799px) {
  body {
    text-align: center;
  }
}

p {
  margin: 12px 0;
}

a {
  color: $azure-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  color: $azure-blue;
  position: relative;
  padding-bottom: 36px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 92px;
    background-color: $azure-blue;
  }
}

.inverted {
  color: $pure-white;

  a, h1 {
    color: $pure-white;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    &:after {
      width: 100%;
    }
  }
}