<header>
    <div class="container">
        <a href="/">
            <img alt="Nimma.codes" src="/images/logo_color.svg">
        </a>
        <div class="ctaContainer">
            <div class="ctas">
                <a class="button" href="https://www.meetup.com/nimma-codes-meetup-group/" target="_blank"><img
                        src="/images/twitter_icon.svg" alt="meetup.com icon">Twitter</a>
            </div>
            <div class="ctas">
                <a class="button" href="https://www.meetup.com/nimma-codes-meetup-group/" target="_blank"><img
                        src="/images/meetup_icon.svg" alt="Twitter icon">Meetup</a>
            </div>
        </div>
    </div>
</header>