<header>
    <div class="container">
        <a href="/">
            <img alt="Nimma.codes" src="/images/logo_color.svg">
        </a>
        <div class="ctaContainer">
            <div class="ctas">
                <a class="button" href="https://twitter.com/nimmacodes" target="_blank"><img
                        src="/images/twitter_icon.svg" alt="twitter icon">Twitter</a>
            </div>
            <div class="ctas">
                <a class="button" href="https://www.meetup.com/nimma-codes-meetup-group/" target="_blank"><img
                        src="/images/meetup_icon.svg" alt="meetup.com icon">Meetup</a>
            </div>
            <div class="ctas">
                <a class="button" href="https://join.slack.com/t/nimmacodes/shared_invite/zt-1fdwwxp47-VodDnaJuXfATWa4rpztQwQ" target="_blank"><img
                        src="/images/slack_icon.svg" alt="slack icon">Slack</a>
            </div>
        </div>
    </div>
</header>