on:
  workflow_dispatch:

jobs:
  build_docker:
    name: Deploy www
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sed -i 's|https://preview.nimma.codes|https://www.nimma.codes|' config.toml
      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true
      - run: hugo --minify
      - uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.WWW_DEPLOY_KEY }}
          external_repository: nimma-codes/www.nimma.codes
          publish_dir: ./public
          cname: www.nimma.codes
